.card-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: none;
  justify-content: center;
  align-items: center;
}
.card-layout {
  width: 910px;
  height: 854px;
  background-color: #000;
  border-radius: 49.524px;
}
.card-container {
  width: 835px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project-name {
  color: rgba(255, 255, 255, 0.87);
  font-size: 36px;
  padding-top: 49px;
}
.project-description {
  padding-top: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  font-weight: 400;
}
.tag-btn {
  padding: 10px 19px;
  opacity: 0.6000000238418579;
  background: #f5f5f5;
  border-radius: 12.381px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
.tag-btn:not(:first-child) {
  margin-left: 4px;
}
.project-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.get-project {
  padding: 22px 28px;
  background-color: transparent;
  font-size: 17px;
  color: #fff;
  border-radius: 18px;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 250ms ease-in-out;
  outline: none;
}

button.get-project > svg {
  padding-left: 8px;
  vertical-align: middle;
  transition: 250ms ease-in-out;
  fill: white;
}
.get-project:hover {
  border-radius: 18px;
  border: 2px solid #fff;
  opacity: 0.699999988079071;
  background: #fff;
  color: #2d2d2d;
  transition: 250ms ease-in-out;
}
.get-project:hover > svg {
  fill: #2d2d2d;
  transition: 250ms ease-in-out;
}

@media screen and (max-width: 900px) {
  .card-layout {
    width: 80%;
    height: auto;
    padding: 30px 20px;
  }
  .card-container {
    width: 95%;
  }
  .img-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-section > img {
    width: 100%;
  }
  .project-name {
    font-size: 24px;
  }
  .project-description {
    font-size: 14px;
  }
  button.get-project {
    padding: 10px 15px;
  }
}
