.footer-tags {
  display: flex;
  justify-content: space-between;
  margin-top: 449px;
}
.footer-tag > .footer-header {
  color: #fff;
  font-size: 50px;
  line-height: 44px;
}
ul#footer-menu {
  margin-top: 37px;
}
.footer-item {
  color: #8a8a8a;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
}
ul#footer-menu:last-child {
  width: 305px;
}

#social-links {
  padding-right: 25%;
}
footer {
  border-bottom: 2px solid rgba(68, 68, 68, 1);
  padding-bottom: 32px;
  width: 100%;
}
.copyright {
  padding-top: 29px;
  padding-bottom: 29px;
  color: #959595;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media only screen and (max-width: 1272px) {
  .footer-tags {
    flex-direction: column;
    margin-top: calc(300.6px - 66px);
  }
  .footer-header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
  }
  ul#footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    justify-content: center;
    text-align: center;
  }
  .copyright {
    font-size: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
