/* navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
}

nav {
  height: 51px;
  width: 479px;
}

.nav-item {
  line-height: 22px;
  font-size: 20px;
  color: #fff;
  opacity: 60%;
  height: 22px;
  cursor: pointer;
}

.active.nav-item {
  opacity: 100%;
}
.active.nav-item::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  margin-top: 10px;
  background-color: #fff;
}
ul#menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1272px) {
  header {
    display: none;
  }
}

/* !hamburger menu */
.side-bar-icon {
  width: 80px;
  height: 80px;
  display: flex;
  position: sticky;
  justify-content: end;
  align-items: center;
  border-radius: 999px;
  top: 66px;
  z-index: 2;
  transform: translateX(-50%);
  cursor: pointer;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.997) 50%
  );
  transition: 250ms ease;
}
.side-bar-icon > img {
  margin-right: 20%;
  width: 12px;
}
.side-bar-icon-active {
  transform: translateX(82px);
  transition: 250ms ease;
}
.side-bar-img-active {
  transform: rotate(180deg);
}
#side-menu {
  transform: translateX(-100%);
  transition: 250ms ease;
  position: absolute;
  top: 66px;
  background-color: #fff;
  width: 122px;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#side-menu > li {
  text-align: center;
  font-size: 12px;
}

.side-bar-active {
  transform: translateX(0%) !important;
  transition: 250ms ease;
}
