#works {
  margin-top: 369px;
}
.header-img,
.footer-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.header-img::after,
.footer-img::after,
.left-imgs > div::after,
.right-imgs > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 500ms ease-in-out;
}
.header-img:hover:after,
.footer-img:hover::after,
.right-imgs > div:hover::after,
.left-imgs > div:hover::after {
  background-color: #0000008d;
  transition: 500ms ease-in-out;
}

.header-img:hover > .view-details-btn,
.footer-img:hover > .view-details-btn,
.left-imgs > div:hover > .view-details-btn,
.right-imgs > div:hover > .view-details-btn {
  opacity: 1;
  transition: 500ms ease-in-out;
}
.view-details-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 500ms ease-in-out;
}
.view-details-btn {
  opacity: 0;
  cursor: pointer;
  transition: 500ms ease-in-out;
  position: absolute;
  left: calc(50% - 113px);
  top: calc(50% - 33px);
  width: 226px;
  height: 65px;
  border-radius: 18px;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 22px 63px;
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  z-index: 3;
}
.header-img > img,
.footer-img > img {
  object-fit: cover;
  width: 100%;
}
.inner-imgs {
  display: flex;
}
.left-imgs > div,
.right-imgs > div {
  display: flex;
  flex-direction: column;
}
.left-imgs {
  width: 60%;
}
.right-imgs {
  width: 40%;
}
/* img {
  object-fit: contain;
} */
.works-img-container {
  margin-top: 88px;
}

.left-imgs > div,
.right-imgs > div {
  position: relative;
}
@media screen and (max-width: 1242px) {
  .works-wrapper {
    margin-top: 212px;
  }
  .inner-imgs {
    flex-direction: column;
  }
  .left-imgs,
  .right-imgs {
    width: 100%;
    min-height: 293px;
  }
  .works-img-container {
    margin-top: 73px;
  }
}
.show-more-btn {
  margin: 47px auto;
  width: 226px;
  height: 65px;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: 18px;
  border: 2px solid #fff;
  opacity: 0.699999988079071;
  cursor: pointer;
  transition: 250ms ease-in;
}
.show-more-btn > a {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 17px;
  line-height: 22px;
}
.show-more-btn > a > svg {
  padding-left: 10px;
  fill: white;
}
.show-more-btn:hover {
  border-radius: 18px;
  border: 2px solid #fff;
  opacity: 0.699999988079071;
  background: #fff;
  transition: 250ms ease-in;
}
.show-more-btn:hover > a {
  color: #2d2d2d;
}
.show-more-btn:hover > a > svg {
  fill: #2d2d2d;
}

.popup {
  position: fixed;
  top: 50px;
  right: 0;
  padding: 20px 50px;
  z-index: 10000;
  color: #fff;
  font-size: 22px;
  background-color: darkred;
  transform: translateX(100%);
  transition: 250ms ease-in;
}
.popup.active {
  transition: 250ms ease-in;
  transform: translateX(0%);
}
