#works {
  margin-top: 369px;
}
.header-img,
.footer-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.header-img::after,
.footer-img::after,
.left-imgs > div::after,
.right-imgs > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 500ms ease-in-out;
}
.header-img:hover:after,
.footer-img:hover::after,
.right-imgs > div:hover::after,
.left-imgs > div:hover::after {
  background-color: #0000008d;
  transition: 500ms ease-in-out;
}

.header-img:hover > .view-details-btn,
.footer-img:hover > .view-details-btn,
.left-imgs > div:hover > .view-details-btn,
.right-imgs > div:hover > .view-details-btn {
  opacity: 1;
  transition: 500ms ease-in-out;
}
.view-details-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 500ms ease-in-out;
}
.view-details-btn {
  opacity: 0;
  cursor: pointer;
  transition: 500ms ease-in-out;
  position: absolute;
  left: calc(50% - 113px);
  top: calc(50% - 33px);
  width: 226px;
  height: 65px;
  border-radius: 18px;
  border: 2px solid #fff;
  background-color: transparent;
  padding: 22px 63px;
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  z-index: 3;
}
.header-img > img,
.footer-img > img {
  object-fit: cover;
  width: 100%;
}
.inner-imgs {
  display: flex;
}
.left-imgs > div,
.right-imgs > div {
  display: flex;
  flex-direction: column;
}
.left-imgs {
  width: 60%;
  background-color: green;
}
.right-imgs {
  width: 40%;
  background-color: blue;
}
/* img {
  object-fit: contain;
} */
.works-img-container {
  margin-top: 88px;
}

.left-imgs > div,
.right-imgs > div {
  position: relative;
}
@media screen and (max-width: 1242px) {
  .works-wrapper {
    margin-top: 212px;
  }
  .inner-imgs {
    flex-direction: column;
  }
  .left-imgs,
  .right-imgs {
    width: 100%;
    min-height: 293px;
  }
  .works-img-container {
    margin-top: 73px;
  }
}
