main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.work-card {
  /* width: 900px; */
  object-fit: contain;
  background-color: transparent;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  transition: 250ms ease;
  cursor: pointer;
  margin: 30px;
}

.work-card:hover {
  transform: scale(110%);
  transition: 250ms ease;
}

.work-img {
  height: 300px;
  object-fit: fill;
  width: 97%;
  margin: 0 auto;
  object-fit: cover;
}

.work-name {
  font-size: 24px;
  padding: 10px;
  color: #fafafa;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  z-index: 700;
  height: 70px;
}
header {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.086px;
  transition: 250ms ease;
}
header > a:hover {
  color: #fff;
  transition: 250ms ease;
}
