<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamJum || Portfolio</title>
    <link rel="stylesheet" href="./assets/css/_base.css">
    <link rel="stylesheet" href="./assets/css/navbar.css">
    <link rel="stylesheet" href="./assets/css/introduction.css">
    <link rel="stylesheet" href="./assets/css/about.css">
    <link rel="stylesheet" href="./assets/css/works.css">
    <link rel="stylesheet" href="./assets/css/contact.css">
    <link rel="stylesheet" href="./assets/css/footer.css">

</head>

<body>
    <!-- ! header start -->
    <header>
        <nav>
            <ul id="menu">
                <li class="nav-item active">Main</li>
                <li class="nav-item">About</li>
                <li class="nav-item">Works</li>
                <li class="nav-item">Contact</li>
            </ul>
        </nav>
    </header>
    <!-- ! header end -->

    <!-- ! introduction start -->
    <div class="introduction-wrapper container">
        <div class="introduction-texts">
            <div class="introduction-main-text ">
                <span>Hello, I am</span> <br>
                <span id="name">Samir Jumshudzada</span>
            </div>
            <div class="description mt-24">A UX/UI designer whose passion is to build user-centered and responsive
                designs
                with maximum simplicity and usability 😃 </div>
            <div class="introduction-btns mt-24">
                <button class="btn say-hi-btn">
                    Say Hi 👋
                </button>
                <button class="btn discover-works-btn">
                    Discover my works <i class="fa-solid fa-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="introduction-img">
            <img id="samjumphoto" src="./assets/images/SamJumCoolBest.png" alt="">
        </div>
    </div>
    <!-- !introduction end -->


    <!-- !About start -->
    <div class="about-wrapper container">
        <div class="header-text">
            As a UX/UI designer (Soxur),
            <ul id="about">
                <li class="about-item ab-item-1">Started my first journey at a university start-up as UX designer at the
                    beginning
                    of 2021 <img src="./assets/icons/icon1.svg" alt="icon"></li>
                <li class="about-item ab-item-2">Led the design team of a winner start-up at the same year<img
                        src="./assets/icons/icon2.svg" alt="icon"></li>
                <li class="about-item ab-item-3">Got my degree in UX/UI design at 2022. Finished all 7 steps of Google’s
                    UX design
                    course at 2023<img src="./assets/icons/icon3.svg" alt="icon"></li>
                <li class="about-item ab-item-4">Won several contests about UX/UI design<img
                        src="./assets/icons/icon4.svg" alt="icon"></li>
                <li class="about-item ab-item-5">During this time, got different freelance UX and UI jobs from different
                    companies
                    <img src="./assets/icons/icon5.svg" alt="icon">
                </li>
            </ul>
        </div>

    </div>
    <!-- !About end -->
    <!-- !Works start -->
    <div class="works-wrapper">
        <div class="header-text container">
            My Plagiat Works
        </div>
        <div class="works-container">
            <div class="header-work">
                <div class="project-img">
                    <button class="explore-btn">View Details</button>
                    <img class="project-no-1" src="./assets/images/projects/project-1.png" alt="project-img">
                </div>
            </div>
            <div class="inner-works">
                <div class="inner-left-works">
                    <div class="project-img">
                        <button class="explore-btn">View Details</button>
                        <img class="project-no-2" src="./assets/images/projects/project-2.png" alt="project-img">
                    </div>
                    <div class="project-img">
                        <button class="explore-btn">View Details</button>
                        <img class="project-no-3" src="./assets/images/projects/project-3.png" alt="project-img">
                    </div>

                </div>

                <div class="inner-right-works">
                    <div class="project-img">
                        <button class="explore-btn">View Details</button>
                        <img class="project-no-4" src="./assets/images/projects/project-4.png" alt="project-img">
                    </div>
                    <div class="project-img">
                        <button class="explore-btn">View Details</button>
                        <img class="project-no-5" src="./assets/images/projects/project-5.png" alt="project-img">
                    </div>
                    <div class="project-img">
                        <button class="explore-btn">View Details</button>
                        <img class="project-no-6" src="./assets/images/projects/project-6.png" alt="project-img">
                    </div>


                </div>
            </div>
            <div class="footer-work">
                <div class="project-img">
                    <button class="explore-btn">View Details</button>
                    <img class="project-no-7" src="./assets/images/projects/project-7.png" alt="project-img">
                </div>
            </div>
        </div>
        <button class="show-more-btn">
            Show More <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
    <!-- !Works end  -->
    <!-- !Contact start  -->
    <div class="contact-wrapper container">
        <div class="header-text">Mesaj Lümbüldət</div>
        <div class="contact-container">
            <div class="contact-inputs">
                <input type="text" placeholder="name" id="name-inp">
                <input type="text" placeholder="surname" id="surname-inp">
            </div>
            <div class="contact-inputs">
                <input type="text" placeholder="Email" id="email-inp">
                <input type="text" placeholder="Phone Number" id="phone-inp">

            </div>
            <div class="contact-inputs">
                <input type="text" placeholder="Message..." id="message-inp">
                <button class="send-message-btn">
                    Send <i class="fa-regular fa-share-from-square"></i>
                </button>
            </div>

        </div>
    </div>

    <!-- !Contact end -->
    <!-- !footer start -->
    <footer class="container">
        <div class="footer-tags">
            <div class="footer-tag">
                <div class="footer-header">
                    Work
                    <ul id="footer-menu">
                        <li class="footer-item">Behance</li>
                        <li class="footer-item">Drible</li>
                        <li class="footer-item">Pinterest</li>
                    </ul>
                </div>


            </div>
            <div class="footer-tag" id="social-links">
                <div class="footer-header">
                    Social
                    <ul id="footer-menu">
                        <li class="footer-item">Instagram</li>
                        <li class="footer-item">Linkedin</li>
                        <li class="footer-item">Facebook</li>
                        <li class="footer-item">Facebook</li>
                    </ul>
                </div>
            </div>
            <div class="footer-tag">
                <div class="footer-header">
                    Contact
                    <ul id="footer-menu">
                        <li class="footer-item"><i class="fa-regular fa-envelope"></i> samircumsudzade11@gmail.com</li>
                        <li class="footer-item"><i class="fa-solid fa-phone-volume"></i> +994 50 788 1757</li>
                        <li class="footer-item">Contact to discuss your design needs, inquire about collaborations, or
                            seek expert advice on crafting seamless user experiences.</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- !footer end -->
    <div class="copyright container">
        ©2023 Samir Jumshudzada. All Rights Reserved.
    </div>


    <!-- ? font awesome script -->
    <script src="https://kit.fontawesome.com/46a0505f50.js" crossorigin="anonymous"></script>
    <!-- ? My Scripts -->
    <script src="./assets/js/scripts/changeImg.js"></script>
</body>

</html>